@media only screen and (min-width: 0)
{
	/* ##### Menu superior das páginas ##### */
	
	header#menu {
		display: grid;
		grid-template-columns: 8em 1fr;
		padding-right: 0.5em;
		padding-top: 0;
		background-color: black;
		color: white;
	}

	header#menu label#menu_icon {
		font-size: 6em;
		padding-left: 0.2em;
	}

	/* Titulo do site */
	header#menu div#pageTitle {
		text-align: right;
		padding-right: 0.2em;
		padding-top: 0.6em;
		font-size: 3em;
	}

	@media only screen and (max-width: 1024px)
	{
		/* Menu de opcoes aberto pelo botao no menu superior */
		input#opnMenu:checked ~ div#modal_menu {
			transform: translateX(100%);
		}
		/* Mostrar e esconder itens necessarios */
		div#modal_menu div#optIcon {
			display: block;
		}
		div#modal_menu div#optIcon span.uname,
		div#modal_menu div#optIcon i.uname{
			display: none;
		}
		/* Menu escondido inicialmente */ 
		div#modal_menu {
			display: grid;
			position: absolute;
			background-color: white;
			width: 90%;
			left: -90%;
			color: black;
			font-size: 2em;
			line-height: 2.3em;
			transition-duration: 0.5s;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
		}

		/* Titulos dentro do menu */
		div#modal_menu h1 {
			background-color: black;
			color: white;
			line-height: 1.5em;
			font-size: 1.2em;
			text-align: center;
		}

		/* Espaço entre as divisoes do menu */
		div#modal_menu section + div {
			margin-top: 2em;
		}

		/* Lista de links */
		div#modal_menu ul li,
		div#modal_menu ul label {
			padding-left: 0.4em;
			display: grid;
			width: 100%;
			grid-template-columns: 1.7em 1fr;
		}
		div#modal_menu ul li:hover,
		div#modal_menu ul label:hover {
			background-color: #0FF;
		}
		div#modal_menu ul i {
			font-size: 1.3em;
			line-height: 1.7em;
			text-align: center;
			margin-right: 0.3em;
		}
	}
}