@media only screen and (min-width: 0)
{
	section#suporteModal {
		font-size: 1.3em;
		display: grid;
		grid-template-rows: 4em 4em 1fr; 
	}

	/* Titulo */
	section#suporteModal h1 {
		margin-bottom: 1em;
	}

	/* Paragrafo de descricao da modal */
	section#suporteModal p {
		text-align: center;
		margin-bottom: 1em;
	}

	/* #### Formulario #### */

	/* Todos os labels */
	section#suporteModal form label {
		display: grid;
		grid-template-columns: 1fr 4fr;
		line-height: 2.5em;
	}
	/* Textarea com a mensagem */
	section#suporteModal form label#msg,
	section#suporteModal form label.btn {
		grid-template-columns: 1fr;
	}
	section#suporteModal form label#msg textarea {
		resize: none;
		min-height: 10em;
	}

	/* Espaçamento entre labels */
	section#suporteModal form label + label {
		margin-top: 0.7em;
	}

	/* Inputs */
	section#suporteModal form label input {
		font-size: 1.2em;
	}

	/* Botoes */
	section#suporteModal form label.btn button {
		line-height: 2.5em;
		font-size: 1.3em;
	}
}