@media only screen and (min-width: 1024px)
{
	/* Mantendo menu la em cima */
	div.menu-content {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin: 0.3em;
		top: 0;
		width: auto;
		left: 0;
		background-color: transparent;
		border: none;
		padding: 0;
		font-size: 1em;
	}

	section#suporteModal {
		display: none;
	}

	/* Titulo */
	section#suporteModal h1 {
		text-align: center;
		font-size: 1.7em;
		text-decoration: underline;
	}

	/* Textarea com a mensagem */
	section#suporteModal form label#msg textarea {
		font-size: 1.3em;
	}

	/* Botoes */
	section#suporteModal form label.btn {
		display: inline-block;
		width: calc(50% - 4px);
	}
	section#suporteModal form label.btn i {
		font-size: 1em;
	}
	section#suporteModal form label.btn button {
		width: 100%;
	}
}