@media only screen and (min-width: 1024px)
{
	section#suporteModal {
		position: absolute;
		top: 5em;
		width: 50%;
		left: 25%;
		background-color: white;
		border: 0.3em #124559 solid;
		box-sizing: border-box;
		padding: 1em;
		font-size: 1.5em;
		line-height: 1em;
		display: block;
	}

 	/* Titulo */
	section#suporteModal h1 {
		text-align: center;
		font-size: 1.7em;
		text-decoration: underline;
	}

	/* Textarea com a mensagem */
	section#suporteModal form label#msg textarea {
		font-size: 1.3em;
	}

	/* Botoes */
	section#suporteModal form label.btn {
		display: inline-block;
		width: calc(50% - 4px);
	}
	section#suporteModal form label.btn button {
		width: 100%;
	}
}