@media only screen and (min-width: 0)
{
    /* Formulario para iniciar almoco */
    section#iniciar_almoco form {
        margin-top: 3em;
        display: grid;
        grid-template-rows: 7em 5em;
    }

    /* Campos do formulario */
    section#iniciar_almoco form label {
        display: block;
        text-align: center;
    }

    section#iniciar_almoco form label input {
        display: block;
        width: 90%;
        height: 1.5em;
        font-size: 1em;
        margin: auto;
    }


    /* Botoes do formulario */
    section#iniciar_almoco form label.btn + label.btn {
        margin-top: 2%;
    }
    section#iniciar_almoco form label.btn,
    section#iniciar_almoco form label.btn button {
        display: block;
    }
    section#iniciar_almoco form label.btn button {
        height: 100%;
    }
}
