@media only screen and (min-width: 0)
{
	/* Modal de encomenda */
	section#encomendaModal {
		display: grid;
		grid-template-rows: 3em 1fr;
		font-size: 1.2em;
	}

	/* ##### Formulário ##### */
	section#encomendaModal form {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
	}

	/* Campos */
	section#encomendaModal form label {
		display: block;
		font-size: 1.3em;
	}
	section#encomendaModal form label input {
		font-size: inherit;
		height: 2em;
	}
	section#encomendaModal form label#msgText {
		display: grid;
		grid-template-rows: 1fr 5fr;
	}
	section#encomendaModal form label#msgText textarea {
		border: 0.05em black solid;
		resize: none;
		font-family: inherit;
		font-size: inherit;
	}

	/* Botoes */
	section#encomendaModal form label.btn button {
		width: 100%;
		font-size: inherit;
		height: 3em;
		margin-top: 0.3em;
	}

	/* Divisoes do formulario */
	section#encomendaModal form div#lineOne {
		display: grid;
		grid-template-rows: 1fr 1fr;
		box-sizing: border-box;
		padding-top: 2em;
	}
}