@media only screen and (min-width: 1024px)
{
    section#form_autorizar {
        display: none;
    }
    section#form_autorizar form {
        grid-template-rows: 3.5em 3.5em 3.5em 3em;
    }

    section#form_autorizar form label {
        text-align: left;
    }
    section#form_autorizar form label input {
        width: 98%;
    }
}
