@media only screen and (min-width: 0)
{
	section#cadastre_se form {
		margin-top: 1.5em;
		display: grid;
		grid-template-rows: 2.5em 2.5em 2.5em 2.5em 2.5em 6em;
	}

	section#cadastre_se form label input {
		font-size: 1em;
		width: 90%;
	}

	section#cadastre_se form label {
		display: grid;
		grid-template-columns: 4em 1fr;
	}

	section#cadastre_se form label + label {
		margin-top: 0.2em;
	}

	section#cadastre_se form div.buttons {
		margin-top: 1em;
	}
	section#cadastre_se form div.buttons label.btn {
		grid-template-columns: 1fr;
	}
}
