@media only screen and (min-width: 1024px)
{
	section#cadastre_se { display: none; }
	/* Definindo grid areas */
	label#nome 		{ grid-area: nome }
	label#login 	{ grid-area: login }
	label#email 	{ grid-area: email }
	label#senha 	{ grid-area: senha }
	label#senha2 { grid-area: senhaDois }
	div.buttons 	{ grid-area: buttons }

	/* "Formatando" formulario */
	section#cadastre_se form {
		display: grid;
		grid-template-rows: 2.5em 2.5em 2.5em 3.5em;
		grid-template-columns: 49% 2% 49%;
		line-height: 2.3em;
		grid-template-areas: 
		"nome  .     login"
		"email email email"
		"senha .     senhaDois"
		"buttons buttons buttons"
	}
	section#cadastre_se form label#email {
		margin-top: 0.1em;
		margin-bottom: 0.1em;
	}

	/* Campos do formulario */
	section#cadastre_se form label + label {
		margin: 0;
	}
	section#cadastre_se form label {
		display: grid;
		grid-template-columns: 4em 1fr;
	}
	section#cadastre_se form label input {
		width: 100%;
	}


	/* Botoes */
	section#cadastre_se form div.buttons {
		display: grid;
		grid-template-columns: 51% 51%;
		font-size: 0.6em;
	}

	section#cadastre_se form div.buttons label.btn {
		margin-right: 2%;
		font-size: 2em;
	}
}
