@media only screen and (min-width: 0)
{
	section#cadastre_se {
		transform: translateX(100%);
	}
	
	/* Titulo */
	section#cadastre_se h1 {
		font-size: 2em;
		line-height: 3em;
		margin-bottom: 1em;
	}

	/* #### Formulario #### */
	section#cadastre_se form {
		line-height: 4em;
		height: 70%;
		padding-right: 1em;
		padding-left: 1em;
	}


	/* Campos e textos referentes aos mesmos */
	section#cadastre_se label {
		display: grid;
		font-size: 1.7em;
		grid-template-columns: 1fr 3fr;
	}
	section#cadastre_se label + label {
		margin-top: 1em;
	}

	/* Inputs */
	section#cadastre_se form input {
		font-size: 1em;
		width: calc(100% - 0.5em);
	}

	/* Botoes */
	section#cadastre_se label.btn + label.btn {
		margin-top: 0.1em;
	}
	section#cadastre_se label.btn {
		grid-template-columns: 1fr;
	}
	section#cadastre_se label.btn button {
		display: block;
		height: 2.5em;
		font-size: 1.3em;
	}
}