@media only screen and (min-width: 1024px)
{
    section#ocorrencia form label {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
    }
    section#ocorrencia form label input,
    section#ocorrencia form label textarea {
        width: 97%;
        border: 0.05em black solid;
        resize: none;
    }
    section#ocorrencia form div.buttons { height: 3em; }
    section#ocorrencia form div.buttons button {
        font-size: inherit;
        line-height: inherit;
        height: inherit;
    }
    section#ocorrencia form div.buttons button + button {
        margin: 0;
        margin-left: 0.2em;
    }
}
