@media only screen and (min-width: 0)
{

    /* Secao com dados do aluno */
    section#gerenciar_aluno,
    article#errors {
        width: 90%;
        margin: 1em auto;
        font-size: 1.7em;
    }

    /* Titulo */
    section#gerenciar_aluno h1,
    article#errors h1 {
        font-size: 1.2em;
        line-height: 1.5em;
        display: block;
        text-align: center;
        background-color: #912e2e;
        color: white;
    }

    /* Formulario com dados do aluno */
    /* Campos do formulario */
    section#gerenciar_aluno form label {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        line-height: 1.5em;
    }

    section#gerenciar_aluno form label input {
        height: 1.6em;
        font-size: inherit;
    }

    /* Botoes */
    section#gerenciar_aluno form div.buttons {
        margin-top: 1em;
    }
    section#gerenciar_aluno form div.buttons label.btn {
        font-size: 0.7em;
        height: 4em;
    }
    section#gerenciar_aluno form div.buttons label.btn + label.btn {
        margin-top: 0.2em;
    }
    section#gerenciar_aluno form div.buttons label.btn button {
        padding-left: 1em;
        text-align: left;
        line-height: 1em;
    }

    /* Parte que mostra erros ocorridos */
    article#errors h1 { background-color: #F70; }
    article#errors ul li {
        background-color: #FF0;
        line-height: 1.5em;
        text-align: center;
    }
}
