@media only screen and (min-width: 1024px)
{
    /* Alterando template da pagina em desktops */
    div#contentCadastrados {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 90%;
        margin: 2em auto;
    }
    div#contentCadastrados h1 {
        background-color: #912e2e;
        color: white;
        font-size: 1.2em;
        display: block;
        text-align: center;
        line-height: 1.5em !important;
    }

    /* Alguns resets */
    section#lista_alunos { 
        margin: 0 auto;
        font-size: 1.6em;
    }
    section#lista_alunos h1 {
        line-height: 1em;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }


    /* aside com dados do aluno selecionado */
    aside#dados_aluno {
        font-size: 1.6em;
        display: block;
    }

    /* Formulario com os dados do aluno */
    aside#dados_aluno form {
        margin-top: 0.5em;
    }
    /* Campos do formulario */
    aside#dados_aluno form label {
        display: grid;
        grid-template-columns: 1fr 3fr;
        line-height: 2em;
        margin-top: 0.2em;
        width: 100%;
    }
    /* Botoes do formulario */
    aside#dados_aluno form div.buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.8em;
    }
    aside#dados_aluno form label.btn {
        grid-template-columns: 1fr;
        width: calc(100% - 0.1em);
        height: 4em;
    }

    /* Ajustando template da lista de alunos */
    section#lista_alunos ul li {
        grid-template-columns: 14fr 1fr;
    }
    section#lista_alunos ul li:first-child label i {
        line-height: inherit;
    }
}
