@media only screen and (min-width: 0)
{
    /* Todo o conteúdo */
    div#conteudo_cadastrar_aluno {
        width: 90%;
        margin: 1em auto;
        font-size: 1.7em;
    }

    /* Titulos */
    div#conteudo_cadastrar_aluno h1 {
        display: block;
        background: #912e2e;
        color: white;
        line-height: 1.5em;
        font-size: 1.3em;
        text-align: center;
        height: 1.5em;
    }

    /* Formulário */
    section#cadastrar_aluno form {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Campos */
    section#cadastrar_aluno form label {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    section#cadastrar_aluno form label input,
    section#cadastrar_aluno form label select {
        width: 100%;
        font-size: inherit;
        line-height: inherit;
    }
    section#cadastrar_aluno form label input { width: 97%; }
    
    /* Botão */
    section#cadastrar_aluno form button {
        font-size: inherit;
        height: 3em;
    }


    /* Aside com dados do ultimo aluno cadastrado */
    aside#ultimo_cadastro {
        text-align: center;
        margin-bottom: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    aside#ultimo_cadastro div {
        margin: 1em auto;
    }
    aside#ultimo_cadastro img { 
        max-height: 6em;
        max-width: 6em;
        margin: 0 auto 1em auto;
        display: block;
        border: 0.05em black solid;
    }
    aside#ultimo_cadastro label {
        display: block;
    }
    aside#ultimo_cadastro button {
        line-height: inherit;
        font-size: inherit;
        height: 2.5em;
    }
}
