@media screen and (min-width: 1024px)
{
    div#conteudo_cadastrar_aluno {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 3em;
        width: 75%;
    }

    div#conteudo_cadastrar_aluno aside#ultimo_cadastro {
        display: block;
        margin: 0;
        width: 100%;
    }
    /* Botao remover ultimo aluno */
    div#conteudo_cadastrar_aluno aside#ultimo_cadastro form button {
        display: block;
        width: 5em;
    }

    /* Template do perfil do aluno */
    #qrUltimoAluno      { grid-area: qr;    }
    #nomeUltimoAluno    { grid-area: nome;  }
    #turmaUltimoAluno   { grid-area: turma; }
    #removerUltimoAluno { grid-area: botao; }

    div#conteudo_cadastrar_aluno aside#ultimo_cadastro div#perfil_aluno {
        display: grid;
        grid-template-areas:
        "qr nome nome nome"
        "qr turma turma turma"
        "qr . botao ."
    }

    /* Tamanho do formulario para adicionar aluno */
    div#conteudo_cadastrar_aluno section#cadastrar_aluno {
        width: 90%;
        margin-left: 10%;
    }
    div#conteudo_cadastrar_aluno section#cadastrar_aluno label input {
        width: 99%;
    }
}
