@media only screen and (min-width: 0)
{
	/* Footer Visível */
	footer {
		grid-area: footer;
		background: #124559;
		color: white;
		text-align: center;
		box-sizing: border-box;
		padding-top: 1.6em;
		font-size: 1em;
	}
}