@media screen and (min-width: 1024px)
{
	/* Elementos nao necessarios no desktop */
	header.menu .menuIcon { padding: 0%; }
	header.menu .menuIcon label i,
	header.menu .menuIcon div.menu-content h1,
	header.menu .menuIcon div.menu-content label {
		display: none;
	}

	/* Colunas diferentes no desktops */
	header.menu {
		grid-template-columns: 2fr 1fr;
	}

	header.menu .menuIcon div.menu-content {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin: 0.3em;
	}

	header.menu .menuIcon div.menu-content i {
		font-size: 1.5em;
	}

	header.menu .menuIcon div.menu-content ul li {
		display: inline-block;
		margin-right: 1em;
		padding: 0.5em 1em;
	}

	header.menu .menuIcon div.menu-content ul li:hover {
		cursor: pointer;
		background-color: #333;
	}
	header.menu div.pageTitle {
		padding-top: 0.3em;
	}
}