@media only screen and (min-width: 1024px)
{
    section#meus_dados form {
        grid-template-rows:  2.5em 2.5em 2.5em 2.5em 4em;
    }
    section#meus_dados form label {
        line-height: 2.5em;
        grid-template-columns: 1fr 5fr;
    }
    section#meus_dados form label input {
        width: 97%;
        margin-top: 0;
    }
}
