/* Todo conteudo das paginas */
.all {
	display: grid;
	width: 100%;
	min-height: 100%;
	position: absolute;
}
.grid {
	display: grid;
}

/* Menus superiores */
.menu {
	background-color: black;
	color: white;
}

/* Corpos das paginas */
body {
	font-size: 62.5%;
	font-family: arial, sans-serif;
}

/* Todos botoes */
button {
	background-color: black;
	color: white;
	border: none;
	font-size: 1.7em;
	cursor: pointer;
}
button:hover {
	background-color: #124559;
	color: white;
}
button[disabled] {
	background: #444;
	cursor: default;
}
/* Resetando aparencia dos inputs */
input[type=submit],
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

/* Personaliza borda dos inputs */
input[type=text],
input[type=password] {
	border: 0.05em black solid;
	padding-left: 0.3em;
}

input[readonly] {
	background: #AAA;
	color: transparent;
	text-shadow: 0 0 0 #333;
	cursor: default;
}
input[readonly]:focus {
	outline: hidden;
}
/* Formato padrao de paginas */
/* Toda a pagina */
div.all {
	grid-template-rows: 6em 1fr 5em;
	grid-template-areas:
	"menu"
	"conteudo"
	"footer";
}
/* ## Outras tags ## */
strong {
	font-weight: bold;
}
a {
	color: inherit;
	text-decoration: inherit;
}


/* Conteudo escondido em desktops */
@media only screen and (min-width: 1024px)
{
	.only-mob { display: none !important; }
}
