@media only screen and (min-width: 0)
{
    section#confirmacao form {
        margin-top: 3em;
    }
    section#confirmacao form label {
        display: block;
    }
    section#confirmacao form label input {
        width: 90%;
        font-size: inherit;
        margin-left: 3%;
    }

    /* Botoes */
    section#confirmacao form div.buttons { margin-top: 1.5em; }
    section#confirmacao form div.buttons label.btn + label.btn { 
        margin-top: 0.2em; 
    }
}
