@media only screen and (min-width: 1024px)
{
    section#confirmacao form {
        margin: 0;
    }
    section#confirmacao form div.buttons {
        height: 3em;
    }
    section#confirmacao form label input {
        height: 2em;
        width: 97%;
        margin: 0;
    }
}
