@media only screen and (min-width: 0)
{
	/* Toda a pagina */
	div.all {
		grid-template-rows: 7em 4fr 7em;
		grid-template-areas:
	 		"menu"
	 		"conteudo"
	 		"footer";
	}

	/* #### Formulario de login #### */
	section.login-content {
		display: block;
		width: 80%;
		margin: auto;
		margin-top: 3em;
		line-height: 4em;
		grid-area: conteudo;
	}
	/* Titulo */
	section.login-content h1 {
		font-size: 2em;
		display: block;
		text-align: center;
	}
	
	/* Cada campo */
	section.login-content form label {
		display: grid;
		grid-template-columns: 2fr 10fr;
		height: 4em;
		padding: 0.3em;
	}
	section.login-content form label input {
		font-size: 1.7em;
	}

	/* Botoes */
	section.login-content form label.btn {
		grid-template-columns: 1fr;
		height: 5em;
		margin-top: 3em;
	}

	/* Margem entre os botoes */
	section.login-content form label.btn + label.btn {
		margin-top: 0;
	}
	
	/* Icones */
	section.login-content form label i {
		font-size: 3em;
		text-align: center;
		padding-top: 0.1em;
	}

	/* Erros */
	section.login-content form span.login-error {
		font-size: 1.5em;
	}
}